button {
  --font-size: 0.875rem;

  appearance: none;
  border: none;
  border-radius: var(--button-rounded, 6px);
  color: var(--button-text, #fff);
  background-color: var(--button-bg, #1e22ff);
  font-weight: 600;
  cursor: pointer;
  padding: 10px 15px;
  font-size: var(--font-size);
  line-height: calc(1.25 / var(--font-size));
  margin: 8px;
}

button:hover,
button[data-state="hover"] {
  opacity: 0.75;
}

button:focus,
button[data-state="focus"] {
  outline: 4px solid var(--button-bg, #1e22ff);
  outline-offset: 2px;
}
