body {
  background-color: hotpink;

  @media (width >= 40rem) {
    background-color: brown;
  }

  @media (width >= 48rem) {
    background-color: brown;
  }

  @media (width >= 1024rem) {
    background-color: blue;
  }

  @media (width >= 1280rem) {
    background-color: red;
  }
}
