body {
  padding: var(--body-padding, 0.5rem);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--body-text, #000);
  background-color: var(--body-bg, #f1f5f9);
  overflow-x: clip;
  max-width: 100vw;

  > *:not(header, footer) {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (width >= 40rem) {
    padding: var(--body-padding-sm, 1rem);
  }
}

section {
  margin-bottom: 2.25rem;
}
