html,
body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--body-bg, #fff);
  color: var(--body-text, #000);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--headers-text, #000);
}

h1,
.h1 {
  font-size: var(--h1-size, var(--text-3xl, 1.875rem));
  color: var(--h1-text, var(--headers-text, #000));
}

h2,
.h2 {
  font-size: var(--h2-size, var(--text-2xl, 1.5rem));
  color: var(--h2-text, var(--headers-text, #000));
}

h3,
.h3 {
  font-size: var(--h3-size, var(--text-xl, 1.25rem));
  color: var(--h3-text, var(--headers-text, #000));
}

h4,
.h4 {
  font-size: var(--h4-size, var(--text-lg, 1.125rem));
  color: var(--h4-text, var(--headers-text, #000));
}

h5,
.h5 {
  font-size: var(--h5-size, var(--text-base, 1rem));
  color: var(--h5-text, var(--headers-text, #000));
}

h6,
.h6 {
  font-size: var(--h6-size, var(--text-sm, 0.875rem));
  color: var(--h6-text, var(--headers-text, #000));
}

a {
  color: var(--link-text, #9c6644);
  transition: opacity 300ms ease-in-out;
}

a:hover,
a[data-state="hover"] {
  opacity: 0.5;
}

a:active,
a[data-state="active"] {
  opacity: 1;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 28px;
  margin: 32px 0;
}
