a {
  white-space: nowrap;
  color: var(--anchor-active, var(--primary-color, #1e22ff));
}

body > nav {
  display: flex;
  align-items: center;
  background-color: var(--body-bg, #fff);
  max-width: 100vw;
  width: 100vw;
  margin: calc(var(--body-padding, 0.5rem) * -1);
  padding: 1rem;
  z-index: 10;
  position: relative;
}

@media (width >= 40rem) {
  body > nav {
    margin: calc(var(--body-padding-sm, 1rem) * -1);
  }
}

body > nav a {
  color: var(--body-text, #000);
  text-decoration: none;
}

body > nav > ul {
  display: none;
  gap: 2.5rem;
}

@media (width >= 40rem) {
  body > nav > ul {
    display: flex;
  }
}

body > nav > ul > li {
  list-style: none;
}

body > nav > a:first-of-type {
  font-weight: 600;
}

a[aria-current="page"] {
  font-weight: 600;
  color: var(--anchor-active, var(--primary-color, #1e22ff));
}
