body > nav {
  display: flex;
  background-color: var(--body-bg, #fff);
  margin: -1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

body > nav a {
  color: var(--body-text, #000);
  text-decoration: none;
}

body > nav > ul {
  display: flex;
  gap: 2.5rem;
}

body > nav > ul > li {
  list-style: none;
}

body > nav > a:first-of-type {
  font-weight: 600;
}

a[aria-current="page"] {
  font-weight: 600;
  color: var(--anchor-active, #1e22ff);
}

a {
  color: var(--anchor-active, #1e22ff);
}
