h1,
.h1 {
  font-size: 2.25rem;
  font-weight: 700;
}

h2,
.h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3,
.h3 {
  font-size: 1.75rem;
  font-weight: 600;
}

h4,
.h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

h5,
.h5 {
  font-size: 1.25rem;
  font-weight: 400;
}

h6,
.h6 {
  font-size: 1rem;
  font-weight: 400;
}

@media (width >= 40rem) {
  h1,
  .h1 {
    font-size: 2.5rem;
  }

  h2,
  .h2 {
    font-size: 2.25rem;
    font-weight: 600;
  }

  h3,
  .h3 {
    font-size: 2rem;
    font-weight: 600;
  }

  h4,
  .h4 {
    font-size: 1.75rem;
    font-weight: 600;
  }

  h5,
  .h5 {
    font-size: 1.75rem;
    font-weight: 400;
  }

  h6,
  .h6 {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

p {
  font-size: 1rem;
  font-weight: 400;
}

@media (width >= 40rem) {
  p {
    font-size: 1rem;
  }
}

blockquote {
  padding-left: 0.5rem;
  border-left: 0.5rem solid var(--primary-color, #1e22ff);
}

q {
  font-style: italic;
}
